services:
  - type: web
    name: shater-academy-backend
    runtime: docker
    region: frankfurt
    plan: free
    dockerfilePath: ./Dockerfile
    startCommand: node dist/src/main
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 4000
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: API_URL
        sync: false
      - key: FRONTEND_URL
        value: https://alshateracademy.com
